<tr class="duffel-table">
  <td class="center">
    <%= store_application.name %>
  </td>
  <td class="center">
    <%= store_application.description %>
  </td>
  <td class="center">
    <%= store_application.approved? %>
  </td>
  <td class="center">
    <%= store_application.users.first.first_name %>
  </td>
  <td class="center">
    <%= store_application.users.first.last_name %>
  </td>
</tr>
