<tr class="duffel-table">
  <td class="center">
    <%= store_admin.first_name %>
  </td>
  <td class="center">
    <%= store_admin.last_name %>
  </td>
  <td class="center">
    <%= store_admin.email %>
  </td>
  <td class="center">
    <%= store_admin.store.name %>
  </td>
  <td class="center">
    <%= link_to "Deactivate", store_path(:id => store_admin.store.id, :approved => "deactivate"), method: :patch %>
  </td>
</tr>
