<div class="container dashboard-header">
  <h1 class="center"><%= @store.name.titleize %></h1>
</div>
<br>

<div class="container user-card center">
  <ul class="user-info">
    <li class="user-name"> <%= current_user.first_name %> <%= current_user.last_name %></li><br>
    <li class="user-email"><%= current_user.email %></li><br><br><br>
    <li><%= link_to "Edit Personal Profile", edit_user_path(current_user.store), id:"dashboard-btns" %></li><br>
    <li><%= link_to "Edit Store Info", edit_store_path(current_user.store), id:"dashboard-btns" %></li><br>
    <li><%= link_to "Add New Bunker", {controller: 'stores/bunkers', action: 'new', store_slug: @store.slug}, id:"dashboard-btns" %></li>
  </ul>
</div>
<br><br><br>
<% if @store.orders == [] %>
<div>
  <h3 class="container center user-orders-header site-font">Store Orders</h3>>
  <h4 class="container center">No orders have been placed yet</h4>
</div><br><br>
<% else %>
  <div class="container">
    <div class="filter">
	    <h4>Filter By Status:</h4>
	    <%= select :order, :filter_status, @statuses, {include_blank: true}, class: "display site-font" %>
    </div>
    <table id="user-orders" class="site-font order-table bordered highlight">
      <thead>
        <tr class="order-table table-headers">
          <th class="center" data-field="first_name">Name</th>
          <th class="center" data-field="date">Date</th>
          <th class="center" data-field="total">Total</th>
          <th class="center" data-field="status">Status</th>
          <th class="center" data-field="action">Action</th>
          <th data-field="button"></th>
        </tr>
      </thead>
      <tbody>
        <% @store.orders.each do |order| %>
        <tr id="<%= order.id.to_s %>" class="order" data-status="<%= order.status %>">
          <td class="order-name center" id="orders-table">
            <%= order.user.first_name %> <%= order.user.last_name %>
          </td>
          <td class="center" id="orders-table">
            <%= order.formatted_date %>
          </td>
          <td class="center" id="orders-table">
            $<%= order.total %>
          </td>
          <td class="center statuss" id="orders-table">
            <%= order.status %>
          </td>
          <td class="center" id="orders-table">
            <div class="btn black" id="action-btn">
              <%= link_to "Cancel", order_path(order, status: "cancelled"), method: :patch if order.status == "paid" || order.status == "ordered" %>
            </div>
            <div class="btn black white-text">
              <%= link_to "Mark as paid", order_path(order, status: "paid"), method: :patch if order.status == "ordered" %>
              <%= link_to "Mark as completed", order_path(order, status: "completed"), method: :patch if order.status == "paid" %>
            </div>
          </td>
          <td class="button center" id="orders-table">
            <%= link_to "View Order", order_path(order), class: "btn black" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<br><br>
