<div class="dashboard-header">
  <h1 class="center"><%= @store.name.titleize %></h1>
  <div class="edit-profile-button center">
    <%= link_to "Edit Store Info", edit_user_path(current_user), class:"btn black" %>
    <%= link_to "View Store's Orders", edit_user_path(current_user), class:"btn black" %>
  </div>
</div><br><br>

<div class="container user-card center">
  <ul class="user-info">
    <h3 class="center">Logged in as:</h3>
    <li class="user-name"> <%= current_user.first_name %> <%= current_user.last_name %></li><br>
    <li class="user-email"><%= current_user.email %></li><br>

    <div class="edit-profile-button">
      <li><%= link_to "Edit Personal Profile", edit_user_path(current_user), class:"btn black" %></li><br>
    </div>
  </ul>
</div>
<br><br><br>
<h3>Orders</h3>
<% if @store.orders == nil %>
  <h4>No orders to show at this time</h4>
<% end %>
