<div class="bunker-form">
  <%= form_for(@bunker, url: store_bunker_path(@store.slug, @bunker)) do |f| %>

  <%= f.label :title, "Bunker Name", class: "form-text" %>
  <%= f.text_field :title %>

  <%= f.label :description, class: "form-text" %>
  <%= f.text_area :description %>

  <%= f.label :price, class: "form-text" %>
  <%= f.text_field :price %>

  <%= f.label :image, class: "form-text" %>
  <%= f.text_field :image %>

  <%= f.label :bedrooms, class: "form-text" %>
  <%= f.text_field :bedrooms %>

  <%= f.label :bathrooms, class: "form-text" %>
  <%= f.text_field :bathrooms %>

  <%= f.submit "Update Bunker", class:"submit-btn" %>

  <% end %>
</div>
